x-references:
  post-start: 
    - &chown
      command: |
        chown -R user:user /home/user/projects && \
        chown -R user:user /home/user/.history && \
        echo "done" 
      user: root
      privileged: true

services:
  mise:
    build:
      context: .
      dockerfile: Dockerfile.mise
    volumes:
      - projects:/home/user/projects
      - config:/home/user/.config
      - history:/home/user/.history
      - mise:/home/user/mise
      - lazy:/home/user/.local/share/nvim/lazy
      - ./scripts:/scripts
    ports:
      - "8000-8010:8000-8010"
    user: user
    command: tail -f /dev/null
    post_start:
    - command: /scripts/own-user.sh /home/user/projects /home/user/.history /home/user/.config
      user: root
      privileged: true
    - command: /scripts/own-user.sh /home/user/mise /home/user/.local/share/nvim/lazy
      user: root
      privileged: true
  git:
    build:
      context: .
      dockerfile: Dockerfile.mise
    volumes:
      - projects:/home/user/projects
      - ${SSH_AUTH_SOCK}:/tmp/ssh-agent.sock
      - ./scripts:/scripts
    user: user
    command: tail -f /dev/null
    post_start:
    - command: /scripts/own-user.sh /tmp/ssh-agent.sock
      user: root
      privileged: true
    - command: /scripts/git-config.sh
    environment:
      SSH_AUTH_SOCK: /tmp/ssh-agent.sock
      DEV_ENV: git
volumes:
  projects:
  history:
  mise:
  lazy:
  config:
